{# @var craft \craft\web\twig\variables\CraftVariable #}
{% if not currentUser.can('seo-fields:notfound') %}
    {% exit 401 %}
{% endif %}

{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% set selectedSubnavItem = 'notfound' %}
{% set title = "404 Overview"|t('seo-fields') %}

{% set crumbs = [
    {'label': 'SEO Fields'|t('seo-fields'), 'url' : cpUrl('admin/seo-fields')},
    {'label': '404 Overview'|t('seo-fields'), 'url' : cpUrl('admin/seo-fields/not-found')},
] %}

{% do view.registerAssetBundle('craft\\web\\assets\\admintable\\AdminTableAsset') -%}

{% block contextMenu %}
    {% if craft.app.sites.getEditableSites()|length > 1 %}
        <div id="sites-btn" class="btn menubtn"
             data-icon="world">{% if craft.app.request.getSegment(-1) == 'not-found' %}{{ "All sites"|t('seo-fields') }}{% else %}{{ currentSite.name }}{% endif %}</div>
        <div class="menu">
            <ul class="padded">
                <li>
                    <a href="{{ url('seo-fields/not-found', {site: ''}) }}"
                       {% if not craft.app.request.getQueryParam('site') %}class="sel" {% endif %}>
                        {{ "All sites"|t('seo-fields') }}
                    </a>
                </li>
                {% for site in craft.app.sites.getEditableSites() %}
                    <li>
                        <a href="{{ url('seo-fields/not-found/', {site: site.handle} ) }}"
                           {% if site.handle == craft.app.request.getQueryParam('site') %}class="sel"{% endif %}>
                            {{ site.name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <input type="hidden" name="siteId" value="{{ currentSite.id }}">
    {% endif %}
{#    <div id="handles-btn" class="btn menubtn"#}
{#         data-icon="tool">{% if not craft.app.request.getParam('redirect') %}#}
{#            {{ "All 404's"|t('seo-fields') }}{% else %}{{ craft.app.request.getParam('redirect') == "handled" ? "Handled" : "Not handled" }}{% endif %}</div>#}
{#    <div class="menu">#}
{#        <ul class="padded">#}
{#            <li>#}
{#                <a href="{{ url('seo-fields/not-found' ) }}"#}
{#                   {% if not craft.app.request.getParam('redirect') %}class="sel" {% endif %}>#}
{#                    {{ "All 404's"|t('seo-fields') }}#}
{#                </a>#}
{#            </li>#}
{#            <li>#}
{#                <a href="{{ url(craft.app.request.getUrl(), { redirect: "handled"}) }}"#}
{#                   {% if craft.app.request.getParam("redirect") == "handled" %}class="sel"{% endif %}>#}
{#                    {{ "Handled" }}#}
{#                </a>#}
{#            </li>#}
{#            <li>#}
{#                <a href="{{ url(craft.app.request.getUrl(), { redirect: "not-handled"}) }}"#}
{#                   {% if craft.app.request.getParam("redirect") == "not-handled" %}class="sel"{% endif %}>#}
{#                    {{ "Not handled" }}#}
{#                </a>#}
{#            </li>#}
{#        </ul>#}
{#    </div>#}
{% endblock %}


{% block actionButton %}
    {% set confirmation = "Are you sure you want to remove all tracked 404's?"|t('seo-fields') %}
    <a href="{{ actionUrl('seo-fields/not-found/clear-all') }}" class="btn"
       onclick='return confirm("{{ confirmation }}")'>{{ "Clear all"|t('seo-fields') }}</a>
{% endblock %}

{% block content %}
<div id="seofields-notfound"></div>
{% endblock %}

{% set cols = [
    { name: '__slot:title', title: "URL" },
    { name: 'hits', title: 'Hits', sortField: 'counter' },
    { name: 'hasRedirect', title: 'Redirect?', sortField: 'handled' },
] %}

{% js %}
    var columns = [
        {
            name: '__slot:title',
            title: Craft.t('seo-fields', 'URL'),
        },
        {
            name: 'hits',
            title: Craft.t('seo-fields', 'Hits'),
            sortField: 'counter'
        },
        {
            name: 'hasRedirect',
            title: 'Redirect?',
            sortField: 'handled',
            callback: function(value) {
                if (typeof value != 'object') {
                    return '<span data-icon="check" style="color: green;"></span>';
                }

                var url = "{{ cpUrl('seo-fields/redirects/add?pattern=') }}" + value.urlPath + "&site=" + value.siteId;
                return '<a class="add icon" href="' + url + '" title="Add"></a>';
            }
        }

    ];

    new Craft.VueAdminTable({
    container: '#seofields-notfound',
    columns: columns,
    tableDataEndpoint: "{{ cpUrl('seo-fields/cp-api/not-found') }}" ,
    checkboxes:  0,
    allowMultipleSelections: false,
    perPage: 10,
    });

{% endjs %}
