{# @var craft \craft\web\twig\variables\CraftVariable #}
{% extends "_layouts/cp" %}

{% import "_includes/forms" as forms %}

{% set selectedSubnavItem = 'notfound' %}
{% set title = "404's" %}

{% block contextMenu %}
    {% if craft.app.sites.getEditableSites()|length > 1 %}
        <div id="revision-btn" class="btn menubtn" data-icon="world">{% if craft.app.request.getSegment(-1) == 'not-found' %}{{ "All sites"|t('seo-fields') }}{% else %}{{ currentSite.name }}{% endif %}</div>
        <div class="menu">
            <ul class="padded">
                <li>
                    <a href="{{ url('seo-fields/not-found' ) }}"
                       {% if craft.app.request.getSegment(-1) == 'not-found' %}class="sel" {% endif %}>
                        {{ "All sites"|t('seo-fields') }}
                    </a>
                </li>
                {% for site in craft.app.sites.getEditableSites() %}
                    <li>
                        <a href="{{ url('seo-fields/not-found/' ~ site.handle ) }}"
                           {% if site.handle == craft.app.request.getSegment(-1) %}class="sel"{% endif %}>
                            {{ site.name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <input type="hidden" name="siteId" value="{{ currentSite.id }}">
    {% endif %}
{% endblock %}

{% block content %}
    <table class="data fullwidth collapsible">
        <thead>
        <tr>
            <th>{{ "URL"|t('seo-fields') }}</th>
            <th>{{ "Hits"|t('seo-fields') }}</th>
            {% if craft.app.request.getSegment(-1) == 'not-found' %}
            <th>{{ "Site"|t('seo-fields') }}</th>
            {% endif %}
            <th>{{ "Last linked from"|t('seo-fields') }}</th>
            <th>{{ "Last hit at"|t('seo-fields') }}</th>
            <th>{{ "Redirect?"|t('seo-fields') }}</th>
            <th>{{ "Remove"|t('seo-fields') }}</th>
        </tr>
        </thead>
        <tbody>

        {% for row in data %}
        <tr>
            <th class="light">
                {{ row.urlPath }}
            </th>
            <td>{{ row.counter }}</td>
            {% if craft.app.request.getSegment(-1) == 'not-found' %}
                {% set site = craft.app.sites.getSiteById(row.siteId) %}
                <td>{{site.name}}</td>
            {% endif %}
            <td>{{ row.referrer }}</td>
            <td>{{ row.dateLastHit|date('d/m/Y H:i:s') }}</td>
            <td>
                {% if row.redirect %}
                    <a href="{{ cpUrl('seo-fields/redirects/edit/' ~ row.redirect) }}"><span data-icon="check"
                                                                                             style="color: green;"></span></a>
                {% else %}
                    <a href="{{ cpUrl('seo-fields/redirects/add', {pattern : row.urlPath}) }}"><span
                                data-icon="plus"></span></a>
                {% endif %}
            </td>
            <td>
                <a href="{{ cpUrl('seo-fields/not-found/delete/' ~ row.id) }}" class="delete icon" title="Delete"></a>
            </td>
        </tr>
        </tbody>
        {% endfor %}
    </table>
{% endblock %}
