{# SEO Fields meta fields start #}

{# Uncomment these lines when copying the template to your site templates #}
{#{% set seoFields = getSeoFields() %}#}
{#{% set element = seoFields.element %}#}
{#{% set meta = seoFields.meta %}#}

{% if meta and element %}
    <title>{{ meta.getPageTitle(element) }}</title>
    <meta name="description" content="{{ meta.getMetaDescription() }}">
    {# Facebook #}
    <meta property="og:url" content="{{ craft.app.request.absoluteUrl }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="{{ meta.getSocialTitle(element ?? '') }}"/>
    {% set ogImage = meta.getSocialImage() %}
    {% if ogImage %}
        <meta property="og:image" content="{{ ogImage.url }}"/>
        <meta property="og:image:width" content="{{ ogImage.width }}"/>
        <meta property="og:image:height" content="{{ ogImage.height }}"/>
        <meta property="og:image:alt" content="{{ ogImage.alt }}"/>
    {% endif %}
    <meta property="og:description" content="{{ meta.getSocialDescription() }}"/>
    <meta property="og:site_name" content=""/>
    <meta property="og:locale" content="{{ currentSite.language }}"/>
    {# Twitter #}
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="" />
    <meta name="twitter:title" content="{{ meta.getSocialTitle(element ?? '') }}" />
    <meta name="twitter:description" content="{{ meta.getSocialDescription() }}" />
    <meta name="twitter:url" content="{{ craft.app.request.absoluteUrl }}" />
    {% if ogImage %}
        <meta property="twitter:image" content="{{ ogImage.url }}"/>
        <meta property="twitter:image:width" content="{{ ogImage.width }}"/>
        <meta property="twitter:image:height" content="{{ ogImage.height }}"/>
        <meta property="twitter:image:alt" content="{{ ogImage.alt }}"/>
    {% endif %}

    {% if meta.allowIndexing == 'no' %}
        <meta name="robots" content="noindex">
    {% endif %}

    {% if craft.app.response.statusCode < 400 %}
        <link rel="canonical" href="{{ meta.getCanonical() }}" />
    {% endif %}

    {% if meta.allowIndexing == 'no' %}
        <meta name="robots" content="noindex">
    {% endif %}

    {% do meta.getSchema(element) %}

    {% for alt in meta.getAlternate(element) %}
        <link rel="alternate" hreflang="{{ alt.language }}" href="{{ alt.url }}" />
    {% endfor %}
{% endif %}
{# SEO Fields meta fields end #}