{% import "_includes/forms" as forms %}

<input type="radio" name="tabs" id="facebook-tab" {% if tabSelected is defined %}checked="checked"{% endif %}>
<label for="facebook-tab" class="label">{{ 'Facebook'|t('seo-fields') }}</label>
<div class="tab">
    <div class="fb-preview-container">
        <div class="fb-preview">
            {% if value.facebookImage|length %}

            {% set ogImage = craft.assets.id(value.facebookImage[0]).one() %}
                <div class="fb-image-wrap">
                    {% set ogTransform = {
                        width: 500,
                        height: 261,
                        quality: 90,
                        mode: "scale"
                    } %}
                    <img src="{{ ogImage.getUrl(ogTransform) }}" width="500" height="261">
                </div>
            {% endif %}
            <div class="fb-text-wrap">
                <div class="fb-url">
                    {{ element.getUrl()|replace('https://', '') }}
                </div>
                <div class="fb-og-title">
                    {{ value.getOgTitle(element) }}
                </div>
                <div class="fb-og-description">
                    {{ value.getOgDescription() }}
                </div>
            </div>
        </div>
    </div>
    {{ forms.textField({
        label: "Facebook title"|t("seo-fields"),
        id: name ~ "-facebookTitle",
        name: name ~ "[facebookTitle]",
        value: value.facebookTitle,
    }) }}
    
    <div class="field" id="{{ name ~ "-facebookDescription" }}-field">
        <div class="heading">
            <label id="{{ name ~ "[facebookDescription]" }}-label"
                   for="{{ name ~ "-facebookDescription" }}">{{ "Facebook OG description"|t("seo-fields") }}</label>
        </div>
        <div class="input ltr">
            {{ forms.textArea({
                id: name ~ "-facebookDescription",
                name: name ~ "[facebookDescription]",
                value: value.facebookDescription,
                class: "nicetext",
                maxlength: 300,
                showCharsLeft: true,
                warning: false,
                errors: value.getErrors("facebookDescription"),
            }) }}
        </div>
    </div>

    {% if craft.app.volumes.getAllVolumes()|length %}
        {{ forms.elementSelectField({
            label: "Facebook OG Image"|t('seo-fields'),
            id: name ~ "-facebookImage",
            name: name ~ "[facebookImage]",
            elements: [value.facebookImage|length ?craft.assets.id(value.facebookImage[0]).one() : null],
            elementType: "craft\\elements\\Asset",
            viewMode: "large",
            criteria: {
                kind: ["image"],
            },
            limit: 1,
            selectionLabel: "Select Facebook OG image"|t('seo-fields'),
        }) }}
    {% else %}
        <div class="field">
            <h3>{{ 'Facebook OG image'|t('seo-fields') }}</h3>
            <p class="warning">{{ 'No asset volumes defined'|t('seo-fields') }}.</p>
        </div>
    {% endif %}
</div>