{% import "_includes/forms" as forms %}

<input type="radio" name="tabs" id="facebook-tab" class="seofields-tab" {% if tabSelected %}checked="checked"{% endif %}>
<label for="facebook-tab" class="label">{{ "Social Media"|t("seo-fields") }}</label>
<div class="seofields-tab-content">
    <div class="fb-preview-container">
        <div class="fb-preview">
            {% if value.getOgImage() %}
            <div class="fb-image-wrap">
                <img src="{{ value.getOgImage().url }}" width="500">
            </div>
            {% endif %}
            <div class="fb-text-wrap">
                <div class="fb-url">
                    {{ element.getUrl()|replace("https://", "") }}
                </div>
                <div class="fb-og-title">
                    {{ value.getOgTitle(element) }}
                </div>
                <div class="fb-og-description">
                    {{ value.getOgDescription()|length > 70 ? value.getOgDescription()|slice(0, 70) ~ "..." : value.getOgDescription() }}
                </div>
            </div>
        </div>
    </div>
    <div class="seo-fields-facebook-text">
        {{ forms.textField({
            label: "Social Media title"|t("seo-fields"),
            id: name ~ "-facebookTitle",
            name: name ~ "[facebookTitle]",
            value: value.facebookTitle,
        }) }}

        <div class="field" id="{{ name ~ "-facebookDescription" }}-field">
            <div class="heading">
                <label id="{{ name ~ "[facebookDescription]" }}-label"
                       for="{{ name ~ "-facebookDescription" }}">{{ "Social Media description"|t("seo-fields") }}</label>
            </div>
            <div class="input ltr">
                {{ forms.textArea({
                    id: name ~ "-facebookDescription",
                    name: name ~ "[facebookDescription]",
                    value: value.facebookDescription,
                    maxlength: 300,
                    showCharsLeft: true,
                    warning: false,
                    errors: value.getErrors("facebookDescription"),
                }) }}
            </div>
        </div>
    </div>
    <div class="seo-fields-facebook-image">

    {% if craft.app.volumes.getAllVolumes()|length %}
        {{ forms.elementSelectField({
            label: "Social Media image"|t('seo-fields'),
            id: name ~ "-facebookImage",
            name: name ~ "[facebookImage]",
            elements: value.facebookImage|length ? craft.assets.id(value.facebookImage|first).all() : null,
            elementType: "craft\\elements\\Asset",
            viewMode: "large",
            criteria: {
                kind: ["image"],
            },
            limit: 1,
            selectionLabel: "Select an image"|t('seo-fields'),
        }) }}
    {% else %}
        <div class="field">
            <h3>{{ "Facebook OG image"|t("seo-fields") }}</h3>
            <p class="warning">{{ "No asset volumes defined"|t("seo-fields") }}.</p>
        </div>
    {% endif %}
    </div>
</div>
