{% import "_includes/forms" as forms %}

<input type="radio" name="tabs" id="twitter-tab" class="seofields-tab" {% if tabSelected %}checked="checked"{% endif %}>
<label for="twitter-tab" class="label">{{ 'Twitter'|t('seo-fields') }}</label>
<div class="seofields-tab-content">
    <div class="twitter-preview-container">
        <div class="twitter-preview" style="border-radius: 14px;">
            {% if value.getTwitterImage() %}
            <div class="twitter-image-wrap">
                <img src="{{ value.getTwitterImage().url }}" width="507" height="265">
            </div>
            {% endif %}
            <div class="twitter-text-wrap">
                <div class="twitter-title">
                    {{ value.getOgTitle(element) }}
                </div>
                <div class="twitter-description">
                    {{ value.getOgDescription()|length > 130 ? value.getOgDescription()|slice(0, 120) ~ "..." : value.getOgDescription() }}
                </div>
                <div class="twitter-url">
                    <svg style="height: 15px;"viewBox="0 0 24 24" class="r-4qtqp9 r-yyyyoo r-1xvli5t r-dnmrzs r-bnwqim r-1plcrui r-lrvibr"><g><path d="M11.96 14.945c-.067 0-.136-.01-.203-.027-1.13-.318-2.097-.986-2.795-1.932-.832-1.125-1.176-2.508-.968-3.893s.942-2.605 2.068-3.438l3.53-2.608c2.322-1.716 5.61-1.224 7.33 1.1.83 1.127 1.175 2.51.967 3.895s-.943 2.605-2.07 3.438l-1.48 1.094c-.333.246-.804.175-1.05-.158-.246-.334-.176-.804.158-1.05l1.48-1.095c.803-.592 1.327-1.463 1.476-2.45.148-.988-.098-1.975-.69-2.778-1.225-1.656-3.572-2.01-5.23-.784l-3.53 2.608c-.802.593-1.326 1.464-1.475 2.45-.15.99.097 1.975.69 2.778.498.675 1.187 1.15 1.992 1.377.4.114.633.528.52.928-.092.33-.394.547-.722.547z"></path><path d="M7.27 22.054c-1.61 0-3.197-.735-4.225-2.125-.832-1.127-1.176-2.51-.968-3.894s.943-2.605 2.07-3.438l1.478-1.094c.334-.245.805-.175 1.05.158s.177.804-.157 1.05l-1.48 1.095c-.803.593-1.326 1.464-1.475 2.45-.148.99.097 1.975.69 2.778 1.225 1.657 3.57 2.01 5.23.785l3.528-2.608c1.658-1.225 2.01-3.57.785-5.23-.498-.674-1.187-1.15-1.992-1.376-.4-.113-.633-.527-.52-.927.112-.4.528-.63.926-.522 1.13.318 2.096.986 2.794 1.932 1.717 2.324 1.224 5.612-1.1 7.33l-3.53 2.608c-.933.693-2.023 1.026-3.105 1.026z"></path></g></svg>
                    {{ element.getUrl()|replace("https://", "") }}
                </div>
            </div>
        </div>
    </div>
    <div class="seo-fields-twitter-text">
        {{ forms.textField({
            label: "Twitter title"|t("seo-fields"),
            id: name ~ "-twitterTitle",
            name: name ~ "[twitterTitle]",
            value: value.twitterTitle,
        }) }}

        <div class="field" id="{{ name ~ "-twitterDescription" }}-field">
            <div class="heading">
                <label id="{{ name ~ "[twitterDescription]" }}-label"
                       for="{{ name ~ "-twitterDescription" }}">{{ "Twitter description"|t("seo-fields") }}</label>
            </div>
            <div class="input ltr">
                {{ forms.textArea({
                    id: name ~ "-twitterDescription",
                    name: name ~ "[twitterDescription]",
                    value: value.twitterDescription,
                    maxlength: 300,
                    showCharsLeft: true,
                    warning: false,
                    errors: value.getErrors("twitterDescription"),
                }) }}
            </div>
        </div>
    </div>
    <div class="seo-fields-twitter-image">
        {% if craft.app.volumes.getAllVolumes()|length %}
            {{ forms.elementSelectField({
                label: "Twitter image"|t('seo-fields'),
                id: name ~ "-twitterImage",
                name: name ~ "[twitterImage]",
                elements: value.twitterImage|length ? craft.assets.id(value.twitterImage|first).all() : null,
                elementType: "craft\\elements\\Asset",
                viewMode: "large",
                criteria: {
                    kind: ["image"],
                },
                limit: 1,
                selectionLabel: "Select an image"|t('seo-fields'),
            }) }}
        {% else %}
            <div class="field">
                <h3>{{ "Twitter image"|t("seo-fields") }}</h3>
                <p class="warning">{{ "No asset volumes defined"|t("seo-fields") }}.</p>
            </div>
        {% endif %}
    </div>
</div>
