{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * SEO Fields plugin for Craft CMS 3.x
 *
 * SeoField Field Input
 *
 * @author    Studio Espresso
 * @copyright Copyright (c) 2019 Studio Espresso
 * @link      https://studioespresso.co
 * @package   SeoFields
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("studioespresso\\seofields\\assetbundles\\SeoFieldAsset") %}

<div class="tabs">
    {% if field.showGeneralTab %}
    <input type="radio" name="tabs" id="general-tab" checked="checked">
    <label for="general-tab" class="label">{{ 'General meta'|t('seo-fields') }}</label>
    <div class="tab">
        <h3>{{ 'Google results page preview'|t('seo-fields') }}</h3>
        <div class="seofields-google-result">
            <div class="seofields-google-result__headline" contenteditable>
                {{ value.metaTitle|length ? value.getPageTitle() : element.title }}
            </div>
            <div class="seofields-google-result__link" contenteditable>
                {{ element.getUrl() }}
            </div>
            <div class="seofields-google-result__description" contenteditable>
                {{ value.metaDescription|length ? value.metaDescription : 'blaaa' }}
            </div>
        </div>


        {{ forms.textField({
            label: "Meta title"|t("seo-fields"),
            id: name ~ "-metaTitle",
            name: name ~ "[metaTitle]",
            value: value.metaTitle,
        }) }}
        {% if field.allowSitenameOverwrite %}
            {{ forms.textField({
                label: "Site name"|t("seo-fields"),
                id: name ~ "-siteName",
                name: name ~ "[siteName]",
                value: value.siteName,
            }) }}
        {% endif %}

        {{ forms.textField({
            label: "Meta description"|t("seo-fields"),
            id: name ~ "-metaDescription",
            name: name ~ "[metaDescription]",
            value: value.metaDescription
        }) }}
    </div>
    {% endif %}
    {% if field.showFacebookTab %}

        <input type="radio" name="tabs" id="facebook-tab">
        <label for="facebook-tab" class="label">{{ 'Facebook'|t('seo-fields') }}</label>
        <div class="tab">
            <h1>Tab Two Content</h1>
        </div>
    {% endif %}
    {% if field.showTwitterTab %}

        <input type="radio" name="tabs" id="twitter-tab">
        <label for="twitter-tab" class="label">{{ 'Twitter'|t('seo-fields') }}</label>
        <div class="tab">
            <h1>Tab Three Content</h1>
        </div>
    {% endif %}
</div>


