{# @var craft \craft\web\twig\variables\CraftVariable #}
{% if not currentUser.can('seo-fields:redirects') %}
    {% exit 401 %}
{% endif %}

{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% set selectedSubnavItem = 'redirects' %}
{% set title = "Redirects"|t('seo-fields') %}

{% set crumbs = [
    {'label': 'SEO Fields'|t('seo-fields'), 'url' : cpUrl('admin/seo-fields')},
    {'label': 'Redirects'|t('seo-fields'), 'url' : cpUrl('admin/seo-fields/redirects')},
] %}

{% do view.registerAssetBundle('craft\\web\\assets\\admintable\\AdminTableAsset') -%}


{% block contextMenu %}
    {% if craft.app.sites.getEditableSites()|length > 1 %}
        <div id="revision-btn" class="btn menubtn"
             data-icon="world">{% if craft.app.request.getSegment(-1) == 'not-found' %}{{ "All sites"|t('seo-fields') }}{% else %}{{ currentSite.name }}{% endif %}</div>
        <div class="menu">
            <ul class="padded">
                <li>
                    <a href="{{ url('seo-fields/redirects', {site: ''}) }}"
                       {% if not craft.app.request.getQueryParam('site') %}class="sel" {% endif %}>
                        {{ "All sites"|t('seo-fields') }}
                    </a>
                </li>
                {% for site in craft.app.sites.getEditableSites() %}
                    <li>
                        <a href="{{ url('seo-fields/redirects/', {site: site.handle} ) }}"
                           {% if site.handle == craft.app.request.getQueryParam('site') %}class="sel"{% endif %}>
                            {{ site.name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <input type="hidden" name="siteId" value="{{ currentSite.id }}">
    {% endif %}
{% endblock %}

{% block actionButton %}
    <form method="post" accept-charset="UTF-8" enctype="multipart/form-data">
        {{ csrfInput() }}
        {{ actionInput('seo-fields/redirects/upload') }}
        <input type="file" name="file" id="file" class="btn" accept=".csv" onchange="this.form.submit();"
               style="display: none;">
        <label class="btn" for="file">{{ "Import CSV File"|t('seo-fields') }}</label>
    </form>
    <a href="{{ cpUrl('seo-fields/redirects/add') }}"
       class="btn submit add icon">{{ 'New redirect'|t('seo-fields') }}</a>
{% endblock %}

{% block content %}
    <div id="seofields-redirects"></div>
{% endblock %}

{% js %}
    var columns = [
        {
            name: '__slot:title',
            title: Craft.t('seo-fields', 'Pattern/URL'),
        },
        {
            name: 'redirect',
            title: Craft.t('seo-fields', 'Redirect to'),
        },
        {
            name: 'site',
            title: Craft.t('seo-fields', 'Site'),
        },
        {
            name: 'counter',
            title: Craft.t('seo-fields', 'Hits'),
            sortField: 'counter'
        },
        {
            name: 'matchType',
            title: Craft.t('seo-fields', 'Matched by')
        },
        {
            name: 'lastHit',
            title: Craft.t('seo-fields', 'Last hit at'),
            sortField: 'dateLastHit'

    },
        {
            name: 'method',
            title: Craft.t('seo-fields', 'Method'),
            sortField: 'method'
        }
    ];

    new Craft.VueAdminTable({
    container: '#seofields-redirects',
    columns: columns,
    tableDataEndpoint: "{{ cpUrl('seo-fields/cp-api/redirects', {site: craft.app.request.getQueryParam('site', '')} ) }}" ,
    deleteAction: 'seo-fields/redirects/delete',
    checkboxes:  0,
    search: true,
    allowMultipleSelections: false,
    });

{% endjs %}